:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #f5f5f5;
  text-decoration: inherit;
}
a:hover {
  color: #bcbcc7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  color: #646cff;
}
.main-wrapper-products,.main-wrapper-categories {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.search-and-button {
  padding-top: 1rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.add-button-element {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #646cff;
  color: #fff;
  border: none;
  cursor: pointer;
}
input[type="search"] {
  width: 20%;
  height: 30px;
  border: 1px solid #c4c2c2;
  font-size: 12px;
  text-align: left;
  color: black;
  background-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}
input[type="search"]::placeholder {
  opacity: 30%;
}
