:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #f5f5f5;
  text-decoration: inherit;
}
a:hover {
  color: #bcbcc7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  color: #646cff;
}
.main-wrapper-products {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.search-and-button {
  padding-top: 1rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

}
.add-button-element{
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #646cff;
  color: #fff;
  border:none;
}
