.pagination {
  list-style-type: none;
  display: flex;
  max-width: fit-content;
  padding: 0;
}

.pagination li {
  border: 1px solid rgb(230, 228, 228);
}

.pagination button {
  border-radius: 0;
  background-color: rgb(240, 239, 239);
  color: #646cff;
  font-weight: 500;
  padding: 7px 10px;
  border: none;
}
.pagination button:hover {
  background-color: #646cff;
  color: rgb(240, 239, 239);
  cursor: pointer;
}



.pageNum button:focus {
  background-color: #646cff;
  color: rgb(240, 239, 239);
}

.pagination-container {
  display: flex;
  margin-top: 2rem;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.currpage {
  color: rgba(76, 76, 76, 0.5);
}

.pagination li:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.pagination li:first-child button {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.pagination li:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pagination li:last-child button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
